@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

header {
    display: flex;
    padding: 20px 15px;
    gap: 20%;
    background-color: #33444d;
    color: #fff;    
}

li a {
    text-decoration: none;
    color: #fff;
}

header ul {
	list-style: none;
    display: flex;
    gap: 20px;
}


main {
    min-height: 75vh;
}

footer{
	    text-align: center;
}

.page-title{
	text-align: center;
	margin: 20px 0;
}
.add-form{
    width: 30%;
    margin: 50px auto;
}
.form-control{
	margin-bottom:10px;
}

.table {
    width: 40%;
    margin: 20px auto;
    
}

.table th {
    width: 20%;
}

.table td{
	text-align: center;
}

table,th,tr,td{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td {
    padding: 10px 15px;
}
